header {

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: inherit;
    width: 900px;
    height: 80px;

    & .wrapper {
        border: 1px solid $light-border;
        border-radius: 30px;
    }
}

.wrapper {

    width: 800px;
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

// button burger-menu

.burger-menu {

    width: 30px;
    height: 18px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .lines-menu {
        background-color: $light-border;
        width: 30px;
        height: 2px;
        transition: width 0.3s ease-in-out;
    }

    .short {
        width: 20px;
        transition: width 0.3s ease-in-out;
    }

    &:hover {
        .lines-menu {
            width: 20px;
        }

        .short {
            width: 30px;
        }
    }
}

// button Theme-toogle

.themeToogle {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50px;
    height: 40px;
    border: 1px solid $light-border;
    border-radius: 20px;

    &:hover {
            background-color: $light-hover;
        }

    .themeChoice {
        display: block;
        cursor: pointer;
        width: 35px;
        height: 35px;
        border: none;
        border-radius: 100%;
        background-size: 80% 80%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(/img/sun.png);
        // onclick="checkbox()"

    }

    .themeInput {
        display: none;
    }

    .themeInput:checked~.themeChoice {
        background-image: url(/img/moon.png) !important;
    }

}